<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="col-md-12 card-body custom-card">
        <h5>Contact Information</h5>
        <form class="user">
          <div class="form-group row">
            <div class="col-sm-12">
              <label>Email address:</label><br />
              <input type="text" class="form-control" id="exampleFirstName"
                placeholder="admin@gmail.com">
            </div>
            <div class="col-sm-12">
              <label>Phone number:</label><br />
              <input type="text" class="form-control" id="exampleFirstName"
                placeholder="(204)-989-0988">
            </div>
            <div class="col-sm-12 ">
              <label>Address:</label><br />

              <input type="text" class="form-control col-sm-6 d-inline-block" id="exampleFirstName"
                placeholder="Address 1">
              <input type="text" class="form-control col-sm-6 d-inline-block" id="exampleFirstName"
                placeholder="Address 2">
              <input type="text" class="form-control col-sm-3 d-inline-block" id="exampleFirstName"
                placeholder="City">
              <select class="form-control col-md-3 d-inline-block" name="state">
                <option name="State">
                  State
                </option>
              </select>
              <input type="text" class="form-control col-sm-3 d-inline-block" id="exampleFirstName"
              placeholder="Zipcode">
              <select class="form-control col-md-3 d-inline-block" name="country">
                  <option name="Country">
                    Country
                  </option>
                </select>

            </div>
            <div class="col-sm-12">
              <label>Vehicle Information:</label><br />
              <input type="text" class="form-control col-sm-6 d-inline-block" id="exampleFirstName"
              placeholder="Make">
            <input type="text" class="form-control col-sm-6 d-inline-block" id="exampleFirstName"
              placeholder="Model">
              <input type="text" class="form-control col-sm-4 d-inline-block" id="exampleFirstName"
              placeholder="Color">
              <input type="text" class="form-control col-sm-4 d-inline-block" id="exampleFirstName"
              placeholder="License Number">
              <input type="text" class="form-control col-sm-4 d-inline-block" id="exampleFirstName"
              placeholder="Year">
            </div>
            <div class="col-md-12"></div>
            <div class="col-sm-4">
              <br/>
              <button class="btn btn-primary">Save</button>
            </div>

          </div>
        </form>

      </div>
      <div class="clearfix"><br/></div>
      <div class="col-md-12 card-body custom-card">
        <h5>Password</h5>
        <p>Create a password between 8 and 32 characters in length which includes at least one letter and one number or symbol</p>
        <form class="user">
          <div class="form-group row">
            <div class="col-sm-12">
              <label>Current Password</label><br />
              <input type="text" class="form-control" id="exampleFirstName"
                placeholder="">
            </div>
            <div class="col-sm-12">
              <label>New Password</label><br />
              <input type="text" class="form-control" id="exampleFirstName"
                placeholder="">
            </div>
            <div class="col-sm-12 ">
              <label>Re-Type Password</label><br />

              <input type="text" class="form-control" id="exampleFirstName"
              placeholder="">
            </div>
            <div class="col-sm-4"><br/>
              <button class="btn btn-primary">Save</button>
            </div>

          </div>
        </form>

    </div>





    </div>
    <div class="col-md-6">
      <div class="col-md-12 card-body custom-card">
        <h5>Contact Preferences</h5>
        <p>Recurring Payment Reminders<br/>
        <input type="checkbox"> Email(admin@gmail.com)<br/>
        <input type="checkbox" checked> Mobile push notifications</p>
        <div class="col-sm-4"><br/>
          <button class="btn btn-primary">Save</button>
        </div>
      </div>
      <div class="clearfix"><br/></div>
      <div class="col-md-12 card-body custom-card">
          <h5>Saved Payment Methods</h5>
          <p>You have no saved payment methods.</p><br/>
        </div>
        <div class="clearfix"><br/></div>
        <div class="col-md-12 card-body custom-card">
            <h5>Choose Your Language</h5>
            <p>Preferred Language</p><br/>
            <select class="form-control col-md-8">
              <option>English</option>
            </select><br/>
            <button class="btn btn-primary">Save</button><br/>
            <a href>Give us your feedback on the Spanish Online Portal</a>
          </div>

    </div>

    


  </div>

  

</div>
