<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-12 custom-card">
        <h5><b>Created Date</b></h5>
        <span>05/06/1789</span>
        <br/><br/>
        
        <h5><b>My Contact Info</b></h5>
        <span>Satheesh Abhiram<br />1716 Deer Valley Road<br />Hoover, AL 35226<br />(205) 639-3708</span>
        <br/><br/>

        <h5><b>Project Description</b></h5>(Max 255 Characters)<br/>
        <textarea class="form-control" cols=15 rows=5></textarea>   
        <br/>
        <h6><b>Supporting Documents</b></h6>
        <span>Please upload any additional supporting documents</span><br/>
        <button class="btn btn-basic">Upload Files</button> &nbsp; No Files Added<br/>
        <br/>
        <button class="btn btn-primary">Submit Request</button>&nbsp; <button (click)="cancelAddCompliance()" class="btn btn-basic">Cancel</button>

      </div>

    </div>

  </div>

</div>