
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="dashboard" appChangeCursor='pointer'>
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Rohan&nbsp;Patel</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link"  routerLink='home'  appChangeCursor='pointer'>
      <i class="fas fa-fw fa-home"></i>
      <span>Home</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">
  <li class="nav-item active">
    <a class="nav-link" routerLink='payments' appChangeCursor='pointer'>
     <i class="fas fa-dollar-sign"></i>
      <span>Payments</span></a>
  </li>
  
   <hr class="sidebar-divider">
  <li class="nav-item active">
    <a class="nav-link" routerLink='maintainence' appChangeCursor='pointer'>
     <i class="fas fa-wrench"></i>
      <span>Maintenance</span></a>
  </li>
  
  <hr class="sidebar-divider">
  <li class="nav-item active">
    <a class="nav-link" routerLink='shareddocument' appChangeCursor='pointer'>
     <i class="fas fa-share-alt-square"></i>
      <span>Shared Document</span></a>
  </li>
  
  <hr class="sidebar-divider">
  <li class="nav-item active">
    <a class="nav-link" routerLink='compliance' appChangeCursor='pointer'>
     <i class="fas fa-chart-bar"></i>
      <span>Compliance</span></a>
  </li>
  
  <hr class="sidebar-divider">
  <li class="nav-item active">
    <a class="nav-link" routerLink='propertyinformation' appChangeCursor='pointer'>
     <i class="fas fa-building"></i>
      <span>Property Info</span></a>
  </li>
  
  <hr class="sidebar-divider">
  <li class="nav-item active">
    <a class="nav-link" routerLink='account' appChangeCursor='pointer'>
     <i class="fas fa-user-alt"></i>
      <span>Account Profile</span></a>
  </li>


  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">
  <div class="clearfix">&nbsp;</div>

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>

<!-- <ng-template #loadComponents></ng-template> -->
<script type="text/javascript" src="../../../assets/js/sb-admin-2.min.js"></script>