<div class="container-fluid">

  <div class="row">

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
          <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
              <div class="dropdown-header">Dropdown Header:</div>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 chart-in">
              <p>Your Current Balance</p>
                <h2>$4000.00</h2>
            </div>
            <div class="col-md-8 chart-in">
              <p>Next bill due on</p>
                <h2>NOV 01,2017</h2>
            </div>
          </div>
          <hr>
          <div class="clearfix"></div>
          <div class="row">
            <div class="col-md-12 chart-in">
              <p><i class="fas fa-circle text-primary att"></i> &nbsp;Attention:You have past due bill(s)</p>
            </div>
            `	<div class="col-md-4 pay-btn">
                  <a href="login.html" class="btn btn-primary btn-user btn-block btn-main">
                        Pay Now 
                    </a>
                 </div>
                 <div class="col-md-4 pay-btn">
                  <a href="login.html" class="btn btn-primary btn-user btn-block btn-main">
                        Set Up Autopay 
                    </a>
                  </div>
                  <div class="col-md-3">
                    &nbsp;
                  </div>
                  <div class="col-md-12 chart-in">
                    <p class="curr">You currently do not have any open maintenance requests.</p>
                  </div>
             
          </div>
        </div>
      </div>
    </div>

    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Address</h6>
          <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
              <div class="dropdown-header">Dropdown Header:</div>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-pie pt-4 pb-2">
            <p>Keas 69 Str. 15234,<br>Chalandri Athens, Greece,<br>+30-2106019311(landline)<br>+30-6977664062(mobile phone)</p>
          </div>
        </div>
      </div>
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Maintenance</h6>
          <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
              <div class="dropdown-header">Dropdown Header:</div>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-pie pt-4 pb-2"><div class="mb-4">
            <h5>Maintenance Request</h5>
            <a routerLink="/dashboard/maintainence/requestmaintenance" class="btn btn-primary btn-user btn-block btn-main">
              Request Maintenance 
          </a>
            <p class="curr">You currently do not have any open maintenance requests.</p></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->

