<div class="container">
  <h3>Property Details</h3>
    <div class="row">
      <div class="col-md-6">
        <div class="col-md-12 card-body custom-card">
          <h5>Address</h5>
          <p>1716 Deer Valley Road<br/>Hoover, AL 25226</p>
        </div>
          </div>
          <div class="col-md-6">
              <div class="col-md-12 card-body custom-card">
                <h5>Contact Info</h5>
                <p>Deer Valley Home Owner Associations<br/><a href="">+205-585-2818</a></p>
              </div>
              <div class="clearfix"><br/></div>
              <div class="col-md-12 card-body custom-card">
                  <h5>Renter Info</h5>
                  <p><input type="checkbox"> &nbsp; This unit is occupied by a renter</p>
                </div>
                </div>
          </div>
          </div>