<router-outlet></router-outlet>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="col-md-12 custom-card">
        <h4>Architechtural Reviews</h4><br/>
        <p><a class="btn btn-primary" routerLink='addcompliance' >Submit New Review</a></p><br/>
        
        <ul class="custom-ul">
          
          <li class="horizontal-row">
            <b>test review per Michael</b><br/>
            Submitted by you on 12/05/1995<br/>
            <b>This review was received</b>
          </li>

          <li class="horizontal-row">
              <b>1364 deer trail road</b><br/><b>
              Neighbour has not cut grass in 2 months -text message</b><br/>
              Submitted by you on 12/05/1995<br/>
              <b>This review was received</b>
            </li>

        </ul>
      </div>

    </div>

  </div>

</div>