<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="col-md-12 custom-card"><br/>
        <h3> Maintainence Requests</h3>
        <p></p>
        <Button class="btn btn-primary" routerLink="requestmaintenance">Request Maintainence</Button><br /><br />
        <hr /><br />
        <ul>
          <li>
            Test Maintainence Requests<br />
            <br />
            Requested by you on 05/12/2019 05:30AM<br />
            Maintainence Requests #13-1<br />
            <h5>This request was received on 05/12/2019</h5>
          </li>
        </ul>
        <hr /><br />
      </div>
    </div>
    <div class="col-md-5">
      <div class="col-md-12 custom-card">
        <br/>
          <div class="col-md-12"><h3> Closed Maintainence Requests</h3></div>
          <br />
          You currently do not have any closed maintainence requests
      </div>
    </div>
  </div>
</div>
